<div id="product_list">

   <table>
  <% @routes.each do |route| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

      <td>
        <!-- image_tag @route.image.url, :class => 'list_image' -->
        <%= image_tag route.image.url , :class => 'list_image'%>
      </td>

      <td class="list_description">
        <dl>
          <dt><%= route.title %></dt>
          <dd><%= truncate(strip_tags(route.description),
                 :length => 80) %></dd>
        </dl>
      </td>

      <td class="list_actions">
        <%= link_to 'Voir', route %><br/>
        <%= link_to 'Modifier', edit_route_path(route) %><br/>
        <%= link_to 'Supprimer', route, 
                    :confirm => 'Etes-vous sur?',
                    :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<br />

<%= link_to 'New product', new_route_path %>
